<h1> Posts</h1>

{{#each posts as |post|}}

 <div class="card cardLink">
    <div class="card-body">
      <a href="/post/{{post.id}}">
        <h5 class="card-title" style="display: inline-block">{{title}}</h5>
        <p class="card-description">{{description}}</p>
        <span class="card-author" style="text-align: right; display: flex">Created by {{post.user.username}} on {{format_date date}}</span>
      </a>
    </div>
  </div>

{{else}}
<h6 class="">there are currently no posts</h6>
{{/each}}