<div class="container">
<div class="col-md-12 post-color p-2">
    <h3> <a href="/post/{{post.id}}"> {{post.title}}</a></h3>
    <h6><i class="fas fa-user"></i> by {{post.user.username}}</h6>
    <p> {{post.content}}</p>
     <span class="label-primary text-muted"> <i class="fas fa-calendar"></i> Posted on {{format_date post.date}}</span> 
    </div>



{{#if loggedIn}}

  <div class="container mt-3 comment-color">
    <h6><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h6>
    <form id="comment-form" role="form">
        <div class="form-group ">
            <textarea class="form-control" name="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="button mt-2"> Submit</button>
    </form>
</div>

        


{{/if}}

<hr>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mb-2">
            <h3>Comments</h3>
        </div>
    </div>
    {{#each post.comments as |comment|}}
    <div class="col-md-10">
         <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> {{comment.user.username}}</div>
                    <time class="comment-date text-muted" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{format_date date}}</time>
                  </header>
                  <div class="comment-post">
                    <p>
                      {{comment.comment}}
                    </p>
                  </div>
                </div>
              </div>
    </div>
    {{/each}}
</div>
 



<script src="/js/comment.js"></script>